.container {
    padding: 0px 50px;
    
    .header {
        display: flex;
        justify-content: space-between;

        h1 {
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 20pt;
        }
    }
}