.headerTrack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    width: 100%;
    background-color: white;

    border-bottom: 2px solid #636364;
    box-shadow: 3px 3px 10px #636364;
}

.logOutSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    p {
        font-weight: 500;
        font-size: 18px;
    }
}